* {
    margin: 0; 
}

header {
    background-color: rgb(158, 221, 174);
    width: 100%;
    display: flex;
    justify-content: center;
   
    align-items: center;
}

.logo {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
    padding-left: 25px;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding-right: 80px;
    list-style: none;
}